@keyframes pagIn {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* === MEDIA QUERIES === */
@media only screen and (min-width: 680px) {
    nav.pagination {
        animation: pagIn 700ms cubic-bezier(0.38, 0.49, 0, 1);
    }
}