nav.sidebar {
  display: flex;
  flex-direction: column;
}

.config-menu {
  --md-menu-container-color: var(--fill);
  --md-menu-container-shape: 12px;
  --md-menu-item-label-text-color: var(--text-primary);
  --md-menu-item-hover-state-layer-color: var(--primary);
  --md-menu-item-hover-state-layer-opacity: 0.1;
  --md-menu-item-selected-container-color: var(--primary);
  --md-menu-item-selected-label-text-color: var(--text-on-primary);
  --md-menu-item-label-text-font: var(--font-family-primary);
  --md-menu-item-label-text-weight: 500;
  font-family: var(--font-family-primary);
}

nav.sidebar {
  justify-content: space-between;
  width: 210px;
  height: 100vh;
  box-sizing: border-box;
  z-index: 1000;
  will-change: opacity, transform;
  border-right: 2px solid var(--border);
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--background);
  overflow: hidden;
}

@keyframes navIn {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@media only screen and (min-width: 680px) {
  nav.sidebar {
    animation: navIn 700ms cubic-bezier(0.38, 0.49, 0, 1);
  }
}

.sidebar-link:hover .sidebar-icon,
.sidebar-link:hover .sidebar-text {
  color: var(--primary) !important;
}

.sidebar-link.active:hover .sidebar-icon,
.sidebar-link.active:hover .sidebar-text {
  color: var(--primary) !important;
}

.sidebar-button:hover .sidebar-icon,
.sidebar-button:hover .sidebar-text {
  color: var(--primary) !important;
}

.sidebar-logout:hover .sidebar-icon,
.sidebar-logout:hover .sidebar-text {
  color: var(--red) !important;
}
